# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pickle
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
ENV/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Docker artifacts
*.img
*.container

# Streamlit cache
.streamlit/
.cache/

# Build artifacts
build/
dist/
*.egg-info/

# System files
Thumbs.db
